<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <!--para tomar el header de plantilla-->
        <header th:replace="layout/plantilla.xhtml::header"></header>
        <a th:href="@{/agregar}">Crear Usuario</a>
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table border="1">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Status</th>
                    <th>Fecha de Creación</th>
                    <th>Modificar</th>
                    <th>Eliminar</th>
                </tr>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.idUsuario}">Mostrar Id</td>
                    <td th:text="${usuario.cUsuario}">Mostrar Nombre</td>
                    <td th:text="${usuario.bStatus}">Mostrar Status</td>
                    <td th:text="${usuario.dCreation}">Mostrar Fecha</td>
                    <td> <a th:href="@{/modificar/}+${usuario.idUsuario}" th:text="Editar"/></td>
                    <td> <a th:href="@{/eliminar(idUsuario=${usuario.idUsuario})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            La lista de usuarios está vacía
        </div>

        <footer th:replace="layout/plantilla.xhtml::footer"></footer>
    </body>
</html>
