<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Datos del Usuario</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <h1>Datos del Usuario</h1>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <form th:action="@{/guardar}" method="post" th:object="${usuario}">
            <!--se tiene que especificar la llave primaria, queda oculta para que el objeto lleve la referencia-->
            <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
            <br/>
            <label for="cUsuario">Nombre:</label>
            <input type="text" name="Nombre" th:field="*{cUsuario}"/>
            <span th:if="${#fields.hasErrors('cUsuario')}" th:errors="*{cUsuario}">Error nombre</span>
            <br/>
            <label for="bStatus">Status:</label>
            <input type="text" name="Status" th:field="*{bStatus}"/>
            <span th:if="${#fields.hasErrors('bStatus')}" th:errors="*{cUsuario}">Error status</span>
            <br/>
            <label for="dCreation">Fecha de creación:</label>
            <input type="date" name="fecha" th:value="*{dCreation}" th:field="*{dCreation}"/>
            <span th:if="${#fields.hasErrors('dCreation')}" th:errors="*{dCreation}">Error fecha</span>
            <br/>
            <input type="submit" name="guardar" value="Guardar"/>
        </form>
    </body>
</html>
